@{
	ViewData["Title"] = "Enter";
}
@section Header {
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Магазин компьютерной техники "Ты ж программист"</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
	</header>
}

<div class="text-center">
	<h2 class="display-4">Вход</h2>
</div>
<form method="post" class="d-flex flex-column align-items-center">
	<div class="col-sm-3">
		<label class="form-label">Почта</label>
		<input type="text" class="form-control" name="email">
	</div>
	<div class="col-sm-3">
		<label class="form-label">Пароль</label>
		<input type="password" class="form-control" name="password">
	</div>
	<div class="col-sm-2 d-flex justify-content-evenly align-items-baseline">
		<button type="submit" class="btn btn-primary mt-3 px-4">Подтвердить</button>
	</div><a asp-action="Register">Регистрация</a>
</form>

